*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #add8e6;
    display: block;
    margin: auto;
    width: 60%;
    
}

.menu{
    border: 2px #352525 solid;
    margin: 5px;
}

#menu{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.bento{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}


#me1{
    display: inline;
    width: 20%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 30%;
    /* margin-left: auto;
    margin-right: auto; */
}

.box{
    border: 2px solid black;
    width: 30%;
    margin: 5px;
    text-align: center;
    font-size: 2em;
    flex-grow: 1;
    border-radius: 15px;
}

#box2, #box4{
    width: 50%;
}

#box3, #box5{
    width: 20%;
}

#box6{
    width: 100%;
}



